body {
  max-width: rem-calc( 1920px );
  margin: 0 auto;
<<<<<<< HEAD
  font-family: "Montserrat", sans-serif;
=======
  font-family: 'Montserrat', sans-serif;
>>>>>>> b2890706ead37533c62b611d50b8f533633bf685
}